<a href="https://colab.research.google.com/github/ClaudeJang/Duran-Duran-Returns/blob/master/modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 처음 실행할 때 한 번만! 
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools

!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null

!apt-get update -qq 2>&1 > /dev/null

!apt-get -y install -qq google-drive-ocamlfuse fuse

from google.colab import auth

auth.authenticate_user()

from oauth2client.client import GoogleCredentials

creds = GoogleCredentials.get_application_default()

import getpass

!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL

vcode = getpass.getpass()

!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

E: Package 'python-software-properties' has no installation candidate
Selecting previously unselected package google-drive-ocamlfuse.
(Reading database ... 110851 files and directories currently installed.)
Preparing to unpack .../google-drive-ocamlfuse_0.7.1-0ubuntu3~ubuntu18.04.1_amd64.deb ...
Unpacking google-drive-ocamlfuse (0.7.1-0ubuntu3~ubuntu18.04.1) ...
Setting up google-drive-ocamlfuse (0.7.1-0ubuntu3~ubuntu18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [0]:
from google.colab import auth
auth.authenticate_user()

In [0]:
!mkdir -p drive

!google-drive-ocamlfuse drive

In [0]:
cd drive

/content/drive

In [0]:
# ls -ltr

total 0

In [0]:
import keras
import pandas as pd 
import numpy as np

In [0]:
train = pd.read_csv('./Colab Notebooks/data/Final_train.csv', encoding='utf-8',index_col = 0)

train.head()

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,apartment_id,year_of_completion,apartment_building_count_in_sites,bathroom_count,exclusive_use_area,floor,room_count,tallest_building_in_sites,total_household_count_in_sites,mortgage_loan,...,district,individual,cogeneration,gas,corridor,mixed,stairway,busan,seoul,transaction_real_price
0,5584,0.042060,-0.839598,-1.157310,-1.144215,-0.574122,-2.932447,-1.459764,-0.926899,1.009664,...,0,1,0,1,1,0,0,0,1,215000000
1,5584,0.042060,-0.839598,-1.157310,-1.253498,-0.296118,-1.429483,-1.459764,-0.926899,1.009664,...,0,1,0,1,1,0,0,0,1,200000000
2,5059,-0.786868,-0.553712,-1.157310,-0.884577,-0.296118,-1.429483,-0.774081,-0.528882,1.009664,...,0,1,0,1,1,0,0,0,1,168000000
3,2816,-0.668450,-0.410768,-1.157310,-0.528869,0.120889,-1.429483,-0.659800,-0.232807,1.009664,...,0,1,0,1,1,0,0,0,1,165000000
4,2816,-0.668450,-0.410768,0.814297,0.969673,-0.435120,1.576445,-0.659800,-0.232807,1.009664,...,0,1,0,1,0,0,1,0,1,280000000

In [0]:
test = pd.read_csv('./Colab Notebooks/data/Final_test.csv',encoding='utf-8',index_col =0)
test.head()

,apartment_id,year_of_completion,apartment_building_count_in_sites,bathroom_count,exclusive_use_area,floor,room_count,tallest_building_in_sites,total_household_count_in_sites,mortgage_loan,...,district,individual,cogeneration,gas,corridor,mixed,stairway,busan,seoul,transaction_real_price
1568913,3751,-1.734215,-0.625183,-1.157310,0.146832,0.537896,0.073481,-0.659800,-0.715037,1.211114,...,1,0,1,0,1,0,0,0,1,0
1568914,14029,-3.628909,-0.839598,-3.128918,0.989315,-0.018113,-4.435412,-0.659800,-0.915375,-0.369496,...,0,1,0,1,1,0,0,0,1,0
1568915,12304,-3.628909,-0.625183,-1.157310,-1.546350,-0.574122,-1.429483,-1.802606,-0.941082,-0.400488,...,0,1,0,1,0,0,1,0,1,0
1568916,22241,0.989407,-0.839598,0.814297,-1.207070,-0.296118,0.073481,-0.659800,-0.676033,-0.462473,...,0,1,0,1,0,0,1,0,1,0
1568917,316,-1.260542,-0.768126,-1.157310,-1.343496,-0.852127,-1.429483,-1.802606,-0.861301,-0.454725,...,0,1,0,1,0,0,1,0,1,0

In [0]:
train.columns

Index(['apartment_id', 'year_of_completion',
       'apartment_building_count_in_sites', 'bathroom_count',
       'exclusive_use_area', 'floor', 'room_count',
       'tallest_building_in_sites', 'total_household_count_in_sites',
       'mortgage_loan', 'parking_per_household', 'central', 'district',
       'individual', 'cogeneration', 'gas', 'corridor', 'mixed', 'stairway',
       'busan', 'seoul', 'transaction_real_price'],
      dtype='object')

In [0]:
train_data = train[['year_of_completion',
       'apartment_building_count_in_sites', 'bathroom_count',
       'exclusive_use_area', 'floor', 'room_count',
       'tallest_building_in_sites', 'total_household_count_in_sites',
       'mortgage_loan', 'parking_per_household', 'central', 'district',
       'individual', 'cogeneration', 'gas', 'corridor', 'mixed', 'stairway',
       'busan', 'seoul']]
train_targets = train[['transaction_real_price']]

In [0]:
train_data.shape
# train_targets.head()

(1601458, 20)

In [0]:
test.columns

Index(['apartment_id', 'year_of_completion',
       'apartment_building_count_in_sites', 'bathroom_count',
       'exclusive_use_area', 'floor', 'room_count',
       'tallest_building_in_sites', 'total_household_count_in_sites',
       'mortgage_loan', 'parking_per_household', 'city', 'central', 'district',
       'individual', 'cogeneration', 'gas', 'corridor', 'mixed', 'stairway',
       'busan', 'seoul', 'transaction_real_price'],
      dtype='object')

In [0]:
test_data = test[['year_of_completion',
       'apartment_building_count_in_sites', 'bathroom_count',
       'exclusive_use_area', 'floor', 'room_count',
       'tallest_building_in_sites', 'total_household_count_in_sites',
       'mortgage_loan', 'parking_per_household','central', 'district',
       'individual', 'cogeneration', 'gas', 'corridor', 'mixed', 'stairway',
       'busan', 'seoul']]
test_targets = test[['transaction_real_price']]

In [0]:
test_data.shape
# test_targets.head()

(3918, 20)

In [0]:
train_data = train_data.as_matrix()
train_targets = train_targets.as_matrix()
test_data = test_data.as_matrix()
test_targets = test_targets.as_matrix()

In [0]:
train_data.shape
test_targets.shape

(3918, 1)

In [0]:
from sklearn.model_selection import train_test_split 


x_train, x_valid, y_train, y_valid = train_test_split(train_data, train_targets, random_state = 1 )

In [0]:
from keras import models
from keras import layers 
from keras import backend as K
from keras.layers import Dense, Dropout 
from keras.models import Sequential
from keras import regularizers

def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true)))

def build_model():
    # 동일한 모델을 여러 번 생성할 것이므로 함수를 만들어 사용합니다
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(train_data.shape[1],),kernel_regularizer=keras.regularizers.l1_l2(l1=0.1, l2=0.01)))
    model.add(layers.Dense(64, activation='relu', kernel_regularizer=keras.regularizers.l1_l2(l1=0.1, l2=0.01)))
    model.add(Dropout(0.5))
    model.add(layers.Dense(1))
    return model
  
# num_epochs = 100
model = build_model()

model.compile(optimizer='rmsprop', loss=root_mean_squared_error, metrics=['mae'])

model.fit(x_train, y_train,
          epochs=50, batch_size=300, verbose=1)
# 검증세트로 모델 평가 
test_mse_score, test_mae_score = model.evaluate(x_valid, y_valid, verbose = 1)

Epoch 1/50
1201093/1201093 [==============================] - 17s 14us/step - loss: 514073467.5449 - mean_absolute_error: 402005074.7790
Epoch 2/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 512428665.9936 - mean_absolute_error: 400418248.3859
Epoch 3/50
1201093/1201093 [==============================] - 16s 13us/step - loss: 506189838.4121 - mean_absolute_error: 394614635.3145
Epoch 4/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 492660674.9081 - mean_absolute_error: 381647682.7196
Epoch 5/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 468861923.0564 - mean_absolute_error: 358385987.3358
Epoch 6/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 433069503.4769 - mean_absolute_error: 321650264.5950
Epoch 7/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 386469469.1401 - mean_absolute_error: 271863141.0288
Epoch 8/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 335805535.5229 - mean_absolute_error: 223988162.1851
Epoch 9/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 294749309.0787 - mean_absolute_error: 195119787.9253
Epoch 10/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 272906127.3300 - mean_absolute_error: 180993818.2533
Epoch 11/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 257000394.4217 - mean_absolute_error: 167529774.0848
Epoch 12/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 243733009.7490 - mean_absolute_error: 156583738.6072
Epoch 13/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 234275158.7317 - mean_absolute_error: 149411256.0454
Epoch 14/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 228144815.2678 - mean_absolute_error: 144962709.6172
Epoch 15/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 223784735.1208 - mean_absolute_error: 142041115.0401
Epoch 16/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 220686147.0702 - mean_absolute_error: 139999860.4926
Epoch 17/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 218197476.6422 - mean_absolute_error: 138481028.0272
Epoch 18/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 216347863.1014 - mean_absolute_error: 137402060.5113
Epoch 19/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 214657661.0003 - mean_absolute_error: 136513534.7135
Epoch 20/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 213329279.9370 - mean_absolute_error: 136049920.8238
Epoch 21/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 212563438.3917 - mean_absolute_error: 135900674.2702
Epoch 22/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 211698409.6864 - mean_absolute_error: 135821373.1176
Epoch 23/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 211286714.0110 - mean_absolute_error: 135827132.6846
Epoch 24/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 210812413.5279 - mean_absolute_error: 135822754.6137
Epoch 25/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 210838850.9265 - mean_absolute_error: 135882159.8028
Epoch 26/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 210287301.0507 - mean_absolute_error: 135835387.0415
Epoch 27/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 210139711.5641 - mean_absolute_error: 135751627.8924
Epoch 28/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 209944468.1604 - mean_absolute_error: 135579373.8925
Epoch 29/50
1201093/1201093 [==============================] - 16s 13us/step - loss: 209768577.7882 - mean_absolute_error: 135434541.0727
Epoch 30/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 209798416.3331 - mean_absolute_error: 135335730.5407
Epoch 31/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 209254902.7931 - mean_absolute_error: 134929936.3603
Epoch 32/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 209083271.3580 - mean_absolute_error: 134640715.5855
Epoch 33/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 209041818.5600 - mean_absolute_error: 134225689.7443
Epoch 34/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 208396730.9686 - mean_absolute_error: 133702819.9386
Epoch 35/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 207994235.5505 - mean_absolute_error: 133054545.4721
Epoch 36/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 207687716.8206 - mean_absolute_error: 132194552.2436
Epoch 37/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 206855410.0218 - mean_absolute_error: 131080876.1727
Epoch 38/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 206598958.4530 - mean_absolute_error: 130024630.4932
Epoch 39/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 205926710.3446 - mean_absolute_error: 128822512.1801
Epoch 40/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 205437073.4985 - mean_absolute_error: 127724933.8472
Epoch 41/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 204546953.9350 - mean_absolute_error: 126562446.5540
Epoch 42/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 204029260.8084 - mean_absolute_error: 125682683.6409
Epoch 43/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 203157234.5438 - mean_absolute_error: 124704442.9967
Epoch 44/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 202554460.6732 - mean_absolute_error: 123896610.4039
Epoch 45/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 201925441.3110 - mean_absolute_error: 123191765.5617
Epoch 46/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 201496178.1499 - mean_absolute_error: 122576652.2758
Epoch 47/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 200610484.0869 - mean_absolute_error: 121897198.4792
Epoch 48/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 199787501.2550 - mean_absolute_error: 121284409.1857
Epoch 49/50
1201093/1201093 [==============================] - 16s 13us/step - loss: 199245097.1371 - mean_absolute_error: 120744361.6817
Epoch 50/50
1201093/1201093 [==============================] - 15s 13us/step - loss: 198664443.5865 - mean_absolute_error: 120143640.2467
400365/400365 [==============================] - 19s 47us/step

In [0]:
test_mse_score

176201312.72457883

In [0]:
prediction = model.predict(test_data, batch_size = 100, verbose = 1, steps = None)

3918/3918 [==============================] - 0s 16us/step

In [0]:
submission_file=pd.DataFrame(prediction, columns = ["transaction_real_price"])

# len(prediction)

In [0]:
import math 

math.sqrt(all_scores[0])
# all_scores

13332.27680891798

In [0]:
submission_file

      transaction_real_price
0               5.533980e+08
1               4.888118e+08
2               2.098876e+08
3               2.017731e+08
4               2.016245e+08
5               7.564622e+08
6               3.524244e+08
7               9.670367e+08
8               7.546353e+08
9               2.920217e+08
10              1.217100e+08
11              1.909855e+08
12              1.096287e+09
13              1.435791e+08
14              1.107361e+08
15              1.508603e+08
16              1.731174e+08
17              1.956933e+08
18              2.932461e+08
19              4.316848e+08
20              4.128076e+08
21              3.428861e+08
22              6.810984e+08
23              1.782011e+08
24              2.561703e+08
25              9.341095e+07
26              1.774137e+08
27              3.319145e+08
28              3.955413e+08
29              1.687574e+08
...                      ...
3888            7.954547e+08
3889            3.964312e+08
3890            1.131973e+08
3891            1.711829e+08
3892            6.458353e+08
3893            2.986062e+08
3894            2.721027e+08
3895            3.922144e+08
3896            2.738442e+08
3897            1.260589e+08
3898            4.955313e+08
3899            1.451392e+08
3900            6.395581e+08
3901            3.579876e+08
3902            1.568874e+08
3903            4.819004e+08
3904            3.348576e+08
3905            3.389282e+08
3906            6.394059e+08
3907            4.011455e+08
3908            4.439306e+08
3909            2.769345e+08
3910            7.189044e+08
3911            2.009173e+08
3912            2.324628e+08
3913            4.646259e+08
3914            2.148253e+08
3915            6.013958e+08
3916            3.896702e+08
3917            1.146195e+08

[3918 rows x 1 columns]

In [0]:
submission = pd.read_csv('./Colab Notebooks/data/submission.csv')

In [0]:
submission

          key  transaction_real_price
0      462533                       0
1      764018                       0
2      813528                       0
3      845097                       0
4      856338                       0
5      977181                       0
6     1037012                       0
7     1158117                       0
8     1204038                       0
9     1204146                       0
10    1253422                       0
11    1369751                       0
12    1379723                       0
13    1389544                       0
14    1394472                       0
15    1395869                       0
16    1411847                       0
17    1419442                       0
18    1435592                       0
19    1436429                       0
20    1438962                       0
21    1444406                       0
22    1445883                       0
23    1450094                       0
24    1452779                       0
25    1458536                       0
26    1459610                       0
27    1460129                       0
28    1462023                       0
29    1462947                       0
...       ...                     ...
3888  1605340                       0
3889  1605341                       0
3890  1605343                       0
3891  1605345                       0
3892  1605347                       0
3893  1605348                       0
3894  1605349                       0
3895  1605350                       0
3896  1605351                       0
3897  1605352                       0
3898  1605353                       0
3899  1605354                       0
3900  1605355                       0
3901  1605357                       0
3902  1605358                       0
3903  1605359                       0
3904  1605360                       0
3905  1605361                       0
3906  1605362                       0
3907  1605363                       0
3908  1605364                       0
3909  1605365                       0
3910  1605367                       0
3911  1605368                       0
3912  1605369                       0
3913  1605370                       0
3914  1605371                       0
3915  1605372                       0
3916  1605374                       0
3917  1605375                       0

[3918 rows x 2 columns]

In [0]:
submission['transaction_real_price'] = submission_file['transaction_real_price']

In [0]:
submission.set_index('key',inplace = True)

In [0]:
submission

         transaction_real_price
key
462533             5.533980e+08
764018             4.888118e+08
813528             2.098876e+08
845097             2.017731e+08
856338             2.016245e+08
977181             7.564622e+08
1037012            3.524244e+08
1158117            9.670367e+08
1204038            7.546353e+08
1204146            2.920217e+08
1253422            1.217100e+08
1369751            1.909855e+08
1379723            1.096287e+09
1389544            1.435791e+08
1394472            1.107361e+08
1395869            1.508603e+08
1411847            1.731174e+08
1419442            1.956933e+08
1435592            2.932461e+08
1436429            4.316848e+08
1438962            4.128076e+08
1444406            3.428861e+08
1445883            6.810984e+08
1450094            1.782011e+08
1452779            2.561703e+08
1458536            9.341095e+07
1459610            1.774137e+08
1460129            3.319145e+08
1462023            3.955413e+08
1462947            1.687574e+08
...                         ...
1605340            7.954547e+08
1605341            3.964312e+08
1605343            1.131973e+08
1605345            1.711829e+08
1605347            6.458353e+08
1605348            2.986062e+08
1605349            2.721027e+08
1605350            3.922144e+08
1605351            2.738442e+08
1605352            1.260589e+08
1605353            4.955313e+08
1605354            1.451392e+08
1605355            6.395581e+08
1605357            3.579876e+08
1605358            1.568874e+08
1605359            4.819004e+08
1605360            3.348576e+08
1605361            3.389282e+08
1605362            6.394059e+08
1605363            4.011455e+08
1605364            4.439306e+08
1605365            2.769345e+08
1605367            7.189044e+08
1605368            2.009173e+08
1605369            2.324628e+08
1605370            4.646259e+08
1605371            2.148253e+08
1605372            6.013958e+08
1605374            3.896702e+08
1605375            1.146195e+08

[3918 rows x 1 columns]

In [0]:
submission.to_csv('./Colab Notebooks/DACON_submission/submission.csv', encoding = 'utf-8')